version: '3'
services:

  # restaurant Service
  # restaurant-service:
  #   build:
  #     context: ./restaurant-server
  #     dockerfile: restaurant-server.dockerfile
  #   restart: always
  #   ports:
  #     - "8080:80"
  #   deploy:
  #     mode: replicated
  #     replicas: 1

  #PG SQL Service
  postgres:
    image: 'postgres:14.2'
    ports:
      - "5432:5432"
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/


